apidev-customerFlights/target/classes/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<db:mysql-config name="MySQL_Configuration" host="mudb.mulesoft-training.com" port="3306" user="mule" password="mule" database="training" doc:name="MySQL Configuration"/>
	<flow name="getFlightCustomersFlow">
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT * 
FROM flights_customers]]></db:parameterized-query>
		</db:select>
		<dw:transform-message doc:name="Transform Message" metadata:id="be436c97-e091-4939-9f21-f821a65ee3e1">
			<dw:input-payload doc:sample="sample_data\list_map.dwl"/>
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	id: payload01.accountID,
	firstName: (payload01.name splitBy " ")[0],
	lastName: (payload01.name splitBy " ")[1],
	address: payload01.street ++ ", " ++ payload01.city,
	postal: payload01.postal,
	country: payload01.country,
	creationDate: payload01.creationDate as :string,
	accountType: payload01.accountType,
	miles: payload01.miles
})]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="getFlightByCustomerFlow">
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT * 
FROM flights_customers
WHERE accountID = #[flowVars.id]]]></db:parameterized-query>
		</db:select>
		<dw:transform-message doc:name="Transform Message" metadata:id="be436c97-e091-4939-9f21-f821a65ee3e1">
			<dw:input-payload doc:sample="sample_data\list_map.dwl"/>
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	id: payload01.accountID,
	firstName: (payload01.name splitBy " ")[0],
	lastName: (payload01.name splitBy " ")[1],
	address: payload01.street ++ ", " ++ payload01.city,
	postal: payload01.postal,
	country: payload01.country,
	creationDate: payload01.creationDate as :string,
	accountType: payload01.accountType,
	miles: payload01.miles
})]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="putFlightByCustomerFlow">
		<set-payload value="{
	&quot;message&quot; : &quot;account replaced (but not really)&quot;
}" doc:name="Set Payload"/>
	</flow>
	<flow name="deleteByCustomerFlightFlow">
		<set-payload value="{
&quot;message&quot; : &quot;account deleted (but not really)&quot;
}" doc:name="Set Payload"/>
	</flow>
	<flow name="patchByCustomerFlight">
		<set-payload value="{
&quot;message&quot; : &quot;account modified (but not really)&quot;
}" doc:name="Set Payload"/>
	</flow>
</mule>
